.detail-container {
  background-color: #d463f0;
  padding: 20px;
  height: 94vh;
}
.ice-detail .ice-name {
  font-family: "Barlow-Bold";
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.ice-detail .ice-location {
  font-family: "Barlow-Regular";
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.ice-detail .ice-flavors {
  padding-top: 20px;
  font-family: "Barlow-Regular";
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
